# Virtual Environment
.venv/
env/
venv/

# Python Cache
__pycache__/
*.py[cod]
*.so

# Testing & OS
.pytest_cache/
.DS_Store
*.log

# Data & Cache Directories
dataset/
processed/
experiments/
checkpoints/
*.npy
*.bin
*.label
*.pt
*.pth

